In [2]:
import requests
from dotenv import load_dotenv
import os
import pandas as pd

import sqlalchemy
from sqlalchemy import create_engine, inspect, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy_utils import database_exists, create_database

from tqdm import tqdm

# Setup db connection

In [3]:
# echo = false suppressed ouput

engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost:5432/backboard', echo=False)

if not database_exists(engine.url):
    print('No `backboard` database found, creating anew ..//', end = '')
    create_database(engine.url)
    print('..[..Done..]')
else:
    print('.. Existing `backboard` database located ..', end = '')
#print(database_exists(engine.url))

# Connect to database
#%sql $engine.url
          
insp = inspect(engine)

#retrieve table names
insp.get_table_names()

.. Existing `backboard` database located ..

['accounts',
 'students',
 'tournament_calendar',
 'my_table',
 'tournament_results']

# IFPA API Access

In [4]:
# Put API key in separate file and put that file in .gitignore to keep it private
# make a `secrets.env` file in this folder and add one line:
# ifpa_api_key = '<your API key>'

load_dotenv('./secrets.env')

ifpa_api_key = os.getenv('ifpa_api_key')

#print("API_KEY: ", ifpa_api_key)

True

## Tournament Results

In [4]:
def get_IFPA_tournament_results(tournamentID, apikey = ifpa_api_key):

    # Set the API endpoint and your API key
    ifpa_endpoint = "https://api.ifpapinball.com/v1/"
    api_key = apikey

    # Define the tournament ID for the tournament you want to get results for
    tournament_id = tournamentID

    # Set the API endpoint for getting the tournament results
    results_endpoint = f"{ifpa_endpoint}tournament/{tournament_id}/results?api_key={api_key}"
    #print(results_endpoint)
    # Make a GET request to get the tournament results
    response = requests.get(results_endpoint)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Get the results data from the response JSON
        results_data = response.json()['tournament']['results']
        results_df = pd.DataFrame(results_data)
        results_df.insert(0, 'tournament_id', tournament_id)
        results_df['tourn_player_id'] = results_df['tournament_id'].astype(str) + "-" + results_df['player_id']
    # Players who've not played in at least 5 tournaments will not have a rating
    # established yet. For other calculations (I think) they are given a provisional 
    # rating of 1300, but that isn't represented here. Instead it's iven as 'Not Rated' 
    # which causes problems in a column of numbers. So change it to NULL 
        results_df['ratings_value'] = results_df['ratings_value'].replace('Not Rated', None)
    
        return results_df

    else:
        print(f"Error retrieving tournament results: {response.status_code}")

In [5]:
results_df = get_IFPA_tournament_results(1234)
results_df

,tournament_id,position,player_id,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points,tourn_player_id
0,1234,1,711,Jeff,Gagnon,United States,US,171,1446.04,0.07,1234-711
1,1234,2,3238,Maka,Honig,United States,US,1025,1345.07,0.00,1234-3238
2,1234,3,1289,Paul,Sonier,United States,US,824,1340.00,0.00,1234-1289
3,1234,4,3271,Nycole,Hyatt,United States,US,823,1295.39,0.00,1234-3271

In [6]:
results_df['tournament_id'].astype(str) + "-" + results_df['player_id']

0     1234-711
1    1234-3238
2    1234-1289
3    1234-3271
dtype: object

In [7]:
def get_IFPA_calendar_info(calendar_id, apikey = ifpa_api_key):

    # Set the API endpoint and your API key
    ifpa_endpoint = "https://api.ifpapinball.com/v1/"
    api_key = apikey

    # Define the tournament ID for the tournament you want to get results for
    tournament_id = 1234

    # Set the API endpoint for getting the tournament results
    results_endpoint = f"{ifpa_endpoint}calendar/{calendar_id}?api_key={api_key}"

    # Make a GET request to get the tournament results
    response = requests.get(results_endpoint)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Get the results data from the response JSON
        results_data = response.json()
        #return results_data
        return pd.DataFrame(results_data['calendar'])

    else:
        print(f"Error retrieving tournament results: {response.status_code}")

In [8]:
results = get_IFPA_calendar_info(52930)
results

,calendar_id,tournament_id,tournament_name,address1,address2,city,state,zipcode,country,country_code,website,start_date,end_date,director_name,latitude,longitude,details,private_flag
0,52930,52930,No Quarter: Weekly Strikes,922 Main St,,Nashville,TN,None,None,None,http://noquarternashville.com,2022-10-19,2022-10-19,Seth Steele,36.1764,-86.7552,Three strike knockout tournaments every Wednes...,N

In [9]:
print(results['latitude'] + ", " + results['longitude'])

0    36.1764, -86.7552
dtype: object

In [10]:
def get_IFPA_calendar_active(apikey = ifpa_api_key):

    # Set the API endpoint and your API key
    ifpa_endpoint = "https://api.ifpapinball.com/v1/"
    api_key = apikey

    # Define the tournament ID for the tournament you want to get results for
    tournament_id = 1234

    # Set the API endpoint for getting the tournament results
    results_endpoint = f"{ifpa_endpoint}calendar/active?api_key={api_key}"

    # Make a GET request to get the tournament results
    response = requests.get(results_endpoint)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Get the results data from the response JSON
        results_data = response.json()
        #return results_data
        return pd.DataFrame(results_data['calendar'])

    else:
        print(f"Error retrieving tournament results: {response.status_code}")

In [11]:
#get_IFPA_calendar_active()

In [12]:
def get_IFPA_calendar_history(apikey = ifpa_api_key):

    # Set the API endpoint and your API key
    ifpa_endpoint = "https://api.ifpapinball.com/v1/"
    api_key = apikey

    # Define the tournament ID for the tournament you want to get results for
    tournament_id = 1234

    # Set the API endpoint for getting the tournament results
    results_endpoint = f"{ifpa_endpoint}calendar/history?api_key={api_key}"
    print(results_endpoint)
    # Make a GET request to get the tournament results
    response = requests.get(results_endpoint)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Get the results data from the response JSON
        results_data = response.json()
        #return results_data
        return pd.DataFrame(results_data['calendar'])

    else:
        print(f"Error retrieving tournament results: {response.status_code}")

In [13]:
#history = get_IFPA_calendar_history()

# Request Data and Insert into db

In [14]:
results = get_IFPA_calendar_info(52930)
results

,calendar_id,tournament_id,tournament_name,address1,address2,city,state,zipcode,country,country_code,website,start_date,end_date,director_name,latitude,longitude,details,private_flag
0,52930,52930,No Quarter: Weekly Strikes,922 Main St,,Nashville,TN,None,None,None,http://noquarternashville.com,2022-10-19,2022-10-19,Seth Steele,36.1764,-86.7552,Three strike knockout tournaments every Wednes...,N

In [15]:
sql = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
"""

df = pd.read_sql_query(sql, engine)
df

            table_name
0             accounts
1             students
2             my_table
3  tournament_calendar
4   tournament_results

In [16]:
sql = """
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'public';
"""

df = pd.read_sql_query(sql, engine)
df

             table_name        column_name                    data_type
0    tournament_results         first_name            character varying
1   tournament_calendar    euro_champ_flag            character varying
2   tournament_calendar           distance                      integer
3              students               name            character varying
4   tournament_calendar  papa_circuit_flag            character varying
5   tournament_calendar            website            character varying
6   tournament_calendar         start_date                         date
7              accounts         last_login  timestamp without time zone
8   tournament_calendar        calendar_id                      integer
9              my_table                 id                      integer
10  tournament_calendar          longitude             double precision
11             accounts              email            character varying
12  tournament_calendar      director_name            character varying
13             accounts            user_id                      integer
14             my_table             gender            character varying
15  tournament_calendar           address2            character varying
16             accounts           password            character varying
17   tournament_results      tournament_id                      integer
18  tournament_calendar           end_date                         date
19   tournament_results      ratings_value             double precision
20             my_table                age                      integer
21   tournament_results             points             double precision
22  tournament_calendar            zipcode            character varying
23   tournament_results    tourn_player_id            character varying
24   tournament_results           position                      integer
25   tournament_results       country_name            character varying
26   tournament_results          wppr_rank                      integer
27             my_table               name            character varying
28   tournament_results          player_id            character varying
29             accounts           username            character varying
30  tournament_calendar               city            character varying
31             students                 id                      integer
32  tournament_calendar       private_flag            character varying
33  tournament_calendar           address1            character varying
34  tournament_calendar      tournament_id                      integer
35             accounts         created_on  timestamp without time zone
36   tournament_results       country_code            character varying
37   tournament_results          last_name            character varying
38  tournament_calendar    tournament_name            character varying
39  tournament_calendar           latitude             double precision
40             students           lastname            character varying
41  tournament_calendar            country            character varying
42  tournament_calendar              state            character varying

In [17]:
sql = """
SELECT *
FROM tournament_results
"""

df = pd.read_sql_query(sql, engine)
df

,tourn_player_id,tournament_id,player_id,position,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points
0,1-4543,1,4543,1,Dallas,Overturf,United States,US,1,NaN,0.00
1,1-12554,1,12554,2,Joel,Godfrey,United States,US,1,NaN,0.00
2,1-3723,1,3723,3,Bob,Matthews,United States,US,1,NaN,0.00
3,1-12555,1,12555,4,Joel,Maloff,United States,US,1,NaN,0.00
4,1-12556,1,12556,5,Bill,Cooper,United States,US,1,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...
823306,39980-70988,39980,70988,30,Nona,Gowsell,Canada,CA,9457,1328.72,0.15
823307,39980-50796,39980,50796,35,David,Avalon,Canada,CA,11550,1176.86,0.06
823308,39980-67206,39980,67206,35,Eric,Vettoretti,Canada,CA,15913,1126.60,0.06
823309,39980-81154,39980,81154,35,Ryan,Forde,Canada,CA,36722,NaN,0.06
823310,39980-81155,39980,81155,35,Nick,Burton,Canada,CA,36722,NaN,0.06

In [18]:
get_IFPA_tournament_results(1233)

,tournament_id,position,player_id,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points,tourn_player_id
0,1233,1,714,Per Jonny,Snygg,Sweden,SE,187,1247.83,0.57,1233-714
1,1233,2,373,David,Kjellberg,Sweden,SE,41,1372.86,0.13,1233-373
2,1233,3,950,Simon,Olsson,Sweden,SE,358,1197.81,0.05,1233-950
3,1233,4,738,Henrik,Björk,Sweden,SE,76,1362.76,0.03,1233-738
4,1233,5,382,Lars,Blomgren,Sweden,SE,79,1424.70,0.02,1233-382
5,1233,5,2006,Jonas,Henriksson J,Sweden,SE,435,1227.77,0.02,1233-2006

In [ ]:
# %%time
# # Tournament Calendar Data
# start = 48036
# stop = 60528

# with engine.connect() as connection:
#     for ident in tqdm(range(start, stop), desc ="Download Progress"):
#     #for ident in range(start, stop):
#         # Make the API call with the current parameter
#         try:
#             df = get_IFPA_calendar_info(ident)
#         except:
#            # print(f'skipped: {ident}')
#             continue
        
#         if df is not None:
#             df.to_sql('tournament_calendar', con=engine, if_exists='append', index=False)

In [19]:
# %%time
# # Tournament Results Data
# start = 39981
# stop = 60528

# with engine.connect() as connection:
#     for ident in tqdm(range(start, stop), desc ="Download Progress"):
#     #for ident in range(start, stop):
#         # Make the API call with the current parameter
#         try:
#             df = get_IFPA_tournament_results(ident)
#         except:
#            # print(f'skipped: {ident}')
#             continue
#         df.to_sql('tournament_results', con=engine, if_exists='append', index=False)

# df

Download Progress: 100%|██████████████████████████████████████████████████████████████████████████| 20547/20547 [5:35:28<00:00,  1.02it/s]

CPU times: user 12min 14s, sys: 1min 5s, total: 13min 20s
Wall time: 5h 35min 28s

,tournament_id,position,player_id,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points,tourn_player_id
0,60527,1,34416,Kaylee,Campbell,United States,US,175,1712.28,7.40,60527-34416
1,60527,2,59467,Brian,Lancaster,United States,US,10764,1381.72,3.12,60527-59467
2,60527,3,59789,Bill,Mason,United States,US,52,1808.19,1.66,60527-59789
3,60527,4,59549,Dwain,Marchant,United States,US,938,1669.58,0.96,60527-59549
4,60527,5,83956,Matthew,Stapleton,United States,US,1090,1582.26,0.63,60527-83956
5,60527,6,55274,Matthew,Harrison,United States,US,7087,1251.84,0.49,60527-55274
6,60527,6,82566,Mark,Widdis,United States,US,2987,1294.77,0.49,60527-82566
7,60527,8,96384,Lynne,Stewart,United States,US,20057,976.65,0.37,60527-96384
8,60527,8,96385,Joe,Pecarro,United States,US,6829,1309.75,0.37,60527-96385
9,60527,8,100759,Ben,Leon,United States,US,19711,1321.00,0.37,60527-100759
10,60527,11,57229,Paul,Sanders,United States,US,3306,1426.22,0.21,60527-57229
11,60527,12,82571,Fallyn,Widdis,United States,US,2273,1291.28,0.16,60527-82571
12,60527,12,93238,Jagger,Kai Campbell,United States,US,11877,940.45,0.16,60527-93238
13,60527,14,88077,Maximus,Danger Campbell,United States,US,9757,996.55,0.05,60527-88077

In [ ]:
#df = get_IFPA_tournament_results(1233)
df

In [12]:
sql = """
SELECT *
FROM tournament_results
"""
tournament_results = pd.read_sql_query(sql, engine)

In [10]:
tournament_results.head()

,tourn_player_id,tournament_id,player_id,position,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points
0,55580-83674,55580,83674,9,Brodie,Austin,Australia,AU,20299,1308.43,0.45
1,55580-82531,55580,82531,10,B-Rock,Slater,Australia,AU,8070,1273.08,0.41
2,55580-93812,55580,93812,11,Rachael,Crockett,Australia,AU,10941,1248.55,0.37
3,55580-95033,55580,95033,12,David,Barlow,Australia,AU,9512,1446.02,0.34
4,55580-27413,55580,27413,13,Robert,Niksic,Australia,AU,3195,1393.32,0.30

In [13]:
sql = """
SELECT *
FROM tournament_calendar
"""
tournament_calendar = pd.read_sql_query(sql, engine)

In [14]:
tournament_calendar.head()

,tournament_id,calendar_id,tournament_name,address1,address2,city,state,zipcode,country,country_code,...,euro_champ_flag,papa_circuit_flag,director_name,latitude,longitude,private_flag,distance,details,start_date,end_date
0,1,1,U.S. Open,,,Hartford,CT,None,None,None,...,None,None,,41.7633,-72.6741,N,None,,1980-10-26,1980-10-26
1,2,2,Pinball Expo Flip Out Tournament,,,Chicago,IL,None,None,None,...,None,None,Trent Augenstein,41.8842,-87.6324,N,None,,1986-10-01,1986-10-01
2,3,3,Pinball Expo Flip Out Tournament,,,Chicago,IL,None,None,None,...,None,None,Trent Augenstein,41.8842,-87.6324,N,None,,1987-10-01,1987-10-01
3,4,4,Pinball Expo Flip Out Tournament,,,Chicago,IL,None,None,None,...,None,None,Trent Augenstein,41.8842,-87.6324,N,None,,1988-10-01,1988-10-01
4,5,5,Pinball Expo Flip Out Tournament,,,Chicago,IL,None,None,None,...,None,None,Trent Augenstein,41.8842,-87.6324,N,None,,1989-10-01,1989-10-01

In [16]:
# Nulls are expected in the `ratings_value` columm 
tournament_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49993 entries, 0 to 49992
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tournament_id      49993 non-null  int64
 1   calendar_id        49993 non-null  int64
 2   tournament_name    49993 non-null  object
 3   address1           49993 non-null  object
 4   address2           49993 non-null  object
 5   city               49993 non-null  object
 6   state              49993 non-null  object
 7   zipcode            0 non-null      object
 8   country            0 non-null      object
 9   country_code       0 non-null      object
 10  website            49993 non-null  object
 11  euro_champ_flag    0 non-null      object
 12  papa_circuit_flag  0 non-null      object
 13  director_name      49993 non-null  object
 14  latitude           49993 non-null  float64
 15  longitude          49993 non-null  float64
 16  private_flag       49993 non-null  object
 17  distance           0 non-null      object
 18  details            49993 non-null  object
 19  start_date         49993 non-null  object
 20  end_date           49993 non-null  object
dtypes: float64(2), int64(2), object(17)
memory usage: 8.0+ MB