In [16]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine,inspect, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy_utils import database_exists, create_database

In [17]:
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost:5432/backboard')

if not database_exists(engine.url):
    print('No `backboard` database found')
    #print('No `backboard` database found, creating anew ..//', end = '')
    #create_database(engine.url)
    print('..[..Done..]')
else:
    print('.. Existing `backboard` database located ..', end = '')
#print(database_exists(engine.url))

# Connect to database
#%sql $engine.url
          
insp = inspect(engine)

#retrieve table names
insp.get_table_names()

.. Existing `backboard` database located ..

['accounts',
 'students',
 'my_table',
 'tournament_calendar',
 'tournament_results']

In [30]:
# Create a view that has essential player performance data. Mostly this just adds the date and decription to the tournament_results table
sql = """
CREATE VIEW player_results AS
    SELECT player_id, 
           CONCAT(first_name, ' ', last_name) AS name,
           tournament_results.tournament_id,
           tournament_name,
           end_date as date,
           position,
           wppr_rank,
           ratings_value,
           points    
    FROM tournament_results
        INNER JOIN tournament_calendar
        ON tournament_results.tournament_id = tournament_calendar.tournament_id;
"""
df = pd.read_sql_query(sql, engine)
df

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [27]:
# Tables in this db
sql = """
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name = 'tournament_calendar';
"""

df = pd.read_sql_query(sql, engine)
df

             table_name        column_name          data_type
0   tournament_calendar      tournament_id            integer
1   tournament_calendar        calendar_id            integer
2   tournament_calendar    tournament_name  character varying
3   tournament_calendar           address1  character varying
4   tournament_calendar           address2  character varying
5   tournament_calendar               city  character varying
6   tournament_calendar              state  character varying
7   tournament_calendar            zipcode  character varying
8   tournament_calendar            country  character varying
9   tournament_calendar       country_code  character varying
10  tournament_calendar            website  character varying
11  tournament_calendar    euro_champ_flag  character varying
12  tournament_calendar  papa_circuit_flag  character varying
13  tournament_calendar      director_name  character varying
14  tournament_calendar           latitude   double precision
15  tournament_calendar          longitude   double precision
16  tournament_calendar       private_flag  character varying
17  tournament_calendar           distance            integer
18  tournament_calendar         start_date               date
19  tournament_calendar           end_date               date

In [32]:
##toournament_calendar.drop(engine)

In [33]:
# This inits a new tournament_calendar table, running this code will overwrite the db with a blank one! be careful!

# metadata = MetaData()

# tournament_calendar = Table('tournament_calendar', metadata,
#                  Column('tournament_id', Integer, primary_key=True),
#                  Column('calendar_id', Integer),
#                  Column('tournament_name', String),
#                  Column('address1', String),
#                  Column('address2', String),
#                  Column('city', String),
#                  Column('state', String),                 
#                  Column('zipcode', String),                 
#                  Column('country', String),
#                  Column('country_code', String),
#                  Column('website', String),
#                  Column('euro_champ_flag', String),                 
#                  Column('papa_circuit_flag', String),                
#                  Column('director_name', String),                
#                  Column('latitude', Float),                
#                  Column('longitude', Float),
#                  Column('private_flag', String),
#                  Column('distance', Integer),   
#                  Column('details', String),   
#                  Column('start_date', Date),                 
#                  Column('end_date', Date)                 
#                 )

# metadata.create_all(engine)

In [38]:
sql = """
SELECT *
FROM tournament_calendar
ORDER BY calendar_id DESC
LIMIT 10
"""

df = pd.read_sql_query(sql, engine)
df

,tournament_id,calendar_id,tournament_name,address1,address2,city,state,zipcode,country,country_code,...,euro_champ_flag,papa_circuit_flag,director_name,latitude,longitude,private_flag,distance,details,start_date,end_date
0,60527,60527,Super Abari - 4 Strikes Pinball Tourney,1015 Seigle Ave,,Charlotte,NC,None,None,None,...,None,None,Dwain Marchant,35.2282,-80.8230,N,None,Where: Super Abari Game Bar\r\n1015 Seigle Ave...,2023-04-01,2023-04-01
1,60526,60526,Stern Army - Boxcar GSO Pinball Tournament,120 W Lewis St,,Greensboro,NC,None,None,None,...,None,None,Dwain Marchant,36.0664,-79.7916,N,None,Where: Boxcar Bar + Arcade\r\n120 W Lewis St\r...,2023-04-02,2023-04-02
2,60525,60525,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-06-16,2023-06-16
3,60524,60524,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-06-09,2023-06-09
4,60523,60523,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-06-02,2023-06-02
5,60522,60522,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-05-26,2023-05-26
6,60521,60521,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-05-19,2023-05-19
7,60520,60520,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-05-12,2023-05-12
8,60519,60519,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-05-05,2023-05-05
9,60518,60518,Friday Night Live at the Ice Box Arcade - Seattle,615 NW Bright St,,Seattle,WA,None,None,None,...,None,None,Ice Box Arcade,47.6598,-122.3648,N,None,Join us every Friday night at the Ice Box Arca...,2023-04-01,2023-04-01

In [34]:
# number of rows
sql = """
SELECT COUNT(*)
FROM tournament_calendar
"""

df = pd.read_sql_query(sql, engine)
df

   count
0    147

In [52]:
# This inits a new tournament_results table, running this code will overwrite the db with a blank one! be careful!  

# metadata = MetaData()

# tournament_results_desc = Table('tournament_results', metadata,
#                  Column("tourn_player_id", String, 
#                         primary_key=True),
#                  Column('tournament_id', Integer),
#                  Column('player_id', String),                
#                  Column('position', Integer),
#                  Column('first_name', String),
#                  Column('last_name', String),
#                  Column('country_name', String),
#                  Column('country_code', String),                       
#                  Column('wppr_rank', Integer),
#                  Column('ratings_value', Float, nullable = True),
#                  Column('points', Float)                           
#                 )

# metadata.create_all(engine)

In [13]:
# number of rows
sql = """
SELECT COUNT(*)
FROM tournament_results
"""

df = pd.read_sql_query(sql, engine)
df

    count
0  823311

In [10]:
# number of tournaments
sql = """
SELECT COUNT(*)
FROM tournament_results
WHERE position = '1'
"""

df = pd.read_sql_query(sql, engine)
df

   count
0    698

In [14]:
# number of tournaments
sql = """
SELECT *
FROM tournament_results
WHERE "position" = 1
ORDER BY "tournament_id" DESC
LIMIT 1
"""

df = pd.read_sql_query(sql, engine)
df

,tourn_player_id,tournament_id,player_id,position,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points
0,39980-55390,39980,55390,1,Carter,Casselman,Canada,CA,1161,1634.09,6.82

In [122]:
# number of tournaments
sql = """
SELECT *
FROM tournament_results
"""

df = pd.read_sql_query(sql, engine)
df

,tournament_id,position,player_id,first_name,last_name,country_name,country_code,wppr_rank,ratings_value,points,tourn_player_id
0,47650,1,45481,Fred,Revnew,United States,US,255,1666.57,10.73,47650-45481
1,47650,2,42929,Craig,Squires,United States,US,481,1563.53,5.36,47650-42929
2,47650,3,50385,Nicholas,Gustafson,United States,US,1669,1492.72,3.25,47650-50385
3,47650,4,45204,Tim,Tennison,United States,US,931,1452.70,2.05,47650-45204
4,47650,5,47676,Matt,Rodon,United States,US,1539,1366.46,1.35,47650-47676
...,...,...,...,...,...,...,...,...,...,...,...
5686,47918,4,77028,Stefan,Sjögren,Sweden,SE,2576,1304.78,0.27,47918-77028
5687,47918,5,80804,Ulf,Svanström,Sweden,SE,4930,1111.89,0.20,47918-80804
5688,47918,6,84137,Charlie,Adamsson,Sweden,SE,4614,1116.75,0.15,47918-84137
5689,47918,7,61733,Stefan,Pulls,Sweden,SE,5801,1100.44,0.10,47918-61733
5690,47918,8,82436,Oscar,Sundahl,Sweden,SE,7533,872.03,0.05,47918-82436